.dropdown {
    .dropdown-menu {
        overflow-y: scroll;
        max-height: 35vh;
    }
}

.navbar-comp {
    margin-bottom: 1rem;
}

.navbar-comp {
    position: sticky;
}

.dropdown-card {
    margin-bottom: 1.5rem;
    border-radius: 10px !important;
    text-align: center;
}
